<footer class="footer">
    <div class="container text-center">
      <a class="cc-github btn btn-link " href="https://github.com/christianmeinz1516" target="_blank" rel="tooltip" title="Github">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/christian-meinzen-21b015178/" target="_blank" rel="tooltip" title="LinkedIn">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="container text-center">
      <a class="btn btn-link" href="#" onclick="changeCSS('assets/css/blue_style.css', 6, 'assets/images/intro_blue.jpg', 'assets/images/contact_blue.jpg');"
        rel="tootip" title="Switch to Blue Theme">
          Blue Style
      </a>
      <a class="btn btn-link" href="#" onclick="changeCSS('assets/css/green_style.css', 6, 'assets/images/intro_green.jpg', 'assets/images/contact_green.jpg');"
        rel="tootip" title="Switch to Green Theme">
          Green Style
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
</footer>