<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About Me:</div>
              <div class="h6 mt-0 title">Introduction:</div>
              <p>
                Thank you for getting to know a little about myself. A little about me is that I am the youngest sibling in a family
                of five. I have two older sisters; the oldest is a mechanical engineer and younger is also a computer scientist. I grew
                up in the country outside of Edwardsville, IL. I am a Missouri-Synod Lutheran and nututred in this faith since birth.
                Computer Science has been my passion ever since I started building/programming LEGO robots as a little kid.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Bio Information:</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">July 16, 1999</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">christianmeinz1516@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">
                    Box 401, 5500 Wabash Ave. Terre Haute, IN 57803
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English (with exposure to French)</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Residence Life:</div>
              <div class="h7 mt-0 title">Resident Assistant:</div>
                <div class="col-sm-12">
                  <div class="h8 mt-0 title"><em>2020-21</em></div>
                  In the 2020-21 school year, I will assume the position of Resident Assistant for Scharpenberg Hall at Rose-Hulman alongside
                  my RA partner Emily Guajardo. 
                  <p></p>
                </div>
              <div class="h7 mt-0 title">Sophomore Advisor:</div>
                <div class="col-sm-12">
                  In the 2019-20 school year, I was one of four Sophomore Advisors in Blumberg Hall along with my roomate Thomas Perez,
                  and partners Jordan Asman and Emily Guajardo. Under the guidence of RAs Connor Ray and Cherise McMahon, our team developed
                  73 wonderful freshman (many of whom will be life-long friends) to their position within the Rose-Hulman community. Along with
                  the task of introducing these individuals, we planned multiple fun activities in attempts to release some stress from Rose's intese
                  academics. Throughout the year, Blumberg Hall won second overall (best freshman) in Greatest Floor, first in the Christmas Hall
                  Decorating contest, second in Hall Olympics, and Spirit Award during Greatest Floor.
                  <p></p>
                </div>
              <div class="h7 mt-0 title">Residence Hall Association (On-Campus):</div>
                <div class="col-sm-12">
                  In the winter quarter of 2019-20, I was elected as the On-Campus chair for Rose-Hulman's Residence Hall Association. This opportunity
                  has allowed me to generate ideas for campus improvement and fun on-campus events for residents who live on Rose's campus during the year.
                  Less than a quarter way through my term, COVID-19 required most students to leave campus and stay in quarentine which provided an interesting
                  challenge to this position.
                  <p></p>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="assets/images/intro_blue.jpg" alt="Image" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12">
            <img src="assets/images/intro_green.jpg" alt="Image" />
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Extra-Circulars:</div>
              <div class="h7 mt-0 title">Music:</div>
                <div class="col-sm-12">
                  I started learning how to play the piano when I was in the first grade, but then switched to learning trumpet in the fifth grade. This would transition into my
                  high school musical career in marching band and concert band. My sophomore year, I switched to playing the mellophone during marching
                  band and french horn during concert season. During my senior year of high school, I started self teaching myself piano again which I know use as
                  stress relief (especially during college). As far as the music that I listen to, I am not extremely picky; I like all generes except for 
                  rap music. I also really enjoy listening to movie soundtracks. I feel that soundtracks tell the story without needing to have the imagery since
                  the mind fills in that void using imagination.
                  <p></p>
                </div>
              <div class="h7 mt-0 title">Sports:</div>
                <div class="col-sm-12">
                  While I don't play a lot of sports, I do love watching them. I am a huge Green Bay Packer fan (thanks to my mom's family) and I love to watch
                  college football. During my freshman and sophomore year of college, I was a Rose-Hulman cheerleader which I never thought that I would do, but 
                  it is an experience I would not give up for the world. My favorite sport, however, would have to be Volleyball. When the Summer Olympics are on, 
                  I will constantly be streaming all the games (beach and court). Whether playing or watching, volleyball is always so exciting to me.
                  <p></p>
                </div>
              <div class="h7 mt-0 title">Programming:</div>
                <div class="col-sm-12">
                  Back in high school when I first started getting into computer science, my peers and I formed a programming team that would compete in some local
                  competitions. Most of these competitions involved simple algorithm knowledge to solve several challenges. During a partner match, my partner and I 
                  placed third in the Southwest Baptist University programming contest. I also competed in a hack-a-thon in Kansas City my junior year of high school.
                  My three teammates and I tied for first with our prototype website that we built in 24 hours. In college, I have been occasionally involved with the 
                  cyber security club, competing in capture-the-flag challenges. 
                  <p></p>
                </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Hobbies:</div>
            <div class="h7 mt-0 title">Marvel Comics:</div>
              <div class="col-sm-12">
                Superheroes were always a large part of my childhood growing up. But ever since Iron Man premiered in 2008, Marvel has
                had a personal connection to me. My dad and I would go watch every MCU premier in theaters (except for one or two films).
                When Avengers: Age of Ultron was released, I watched the first Avengers movie so much that I ended up memorizing the entire
                script. I will always remember the feeling of pure energy and exciting as the theater errupted when Thor enters Wakanda in 
                Avengers: Infinity War. While I may not be the most knowledgeable person, I continue to research and learn more about the vast, 
                comic universe.
                <p></p>
              </div>
            <div class="h7 mt-0 title">Fandoms:</div>
              <div class="col-sm-12">
                Along with Marvel, I have grown to have quite the nerdy personality with all of the fandoms that I follow. Such fandoms include
                Star Wars, Star Trek, Sherlock, Doctor Who, Downton Abbey, and How I Met Your Mother. I do have two favorite fandoms with the first
                being Lord of the Rings. The level of detail that Tolkien put into his works has created a whole new world within my imagination that
                I can escape to. My favorite book is actually the Silmarillion which I feel completes picture that the Hobbit and Lord of the Rings draws.
                My second favorite fandom (and my favorite TV show) is Avatar: The Last Airbender. This is a kid's show that contains one of the best
                redemption arcs, provides complex topics such as war and genocide, and still provides fun entertainment and comedy. It is not uncommon for 
                me to watch the series at least twice a year.
                <p></p>
              </div>
            <div class="h7 mt-0 title">Myst:</div>
              <div class="col-sm-12">
                When I was 8 years old, I stumbled upon the gold-mine that was the Myst series. These games are stories that have you (the hero) solve
                complex puzzles in order to complete a certain task. The first of the series has a lot of exploring as you learn more about the world of Myst
                while determining who in this world you can trust. Each game after explores different worlds, each with their own puzzles, and more about Atrus's
                family problems. During my time at Rose, I have had some of my friends attempt to beat these games, which has always led to fun memories of excitement
                and some frustration.
                <p></p>
              </div>
            <div class="h7 mt-0 title">Miscellaneous:</div>
              <div class="col-sm-12">
                Here are some other small facts about myself. I enjoy getting to know people and just talking about random topics. This is especially true over a 
                cup of coffee (hazlenut) or tea (jasmine). I only have a few things on my bucket-list which includes biking across the country, visiting New Zealand,
                and backpacking across Great Britain.
                <p></p>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <img src="assets/images/intro_blue.jpg" alt="Image" />
        </div>
      </div>

    </div>
  </div>